# GitHub OAuth Configuration
GITHUB_CLIENT_ID=Ov23liDmm1rAnrlFMidT
GITHUB_CLIENT_SECRET=dc7da2efd30ed31796935175c254d3fec85904ab

# JWT Authentication Config
JWT_SECRET=28802ef9-88e5-4761-aaef-64f59bc18302

# Database / Storage (Optional fallbacks)
DATABASE_URL=postgresql://username:password@your-supabase-url:5432/postgres
# MONGO_URI=

# Secure API secret tokens
API_SECRET_TOKEN=In-The-Other-Day-I'm-Wondering
