# GitHub OAuth Configuration
GITHUB_CLIENT_ID=Ov23liDmm1rAnrlFMidT
GITHUB_CLIENT_SECRET=dc7da2efd30ed31796935175c254d3fec85904ab

# JWT Authentication Config
JWT_SECRET=28802ef9-88e5-4761-aaef-64f59bc18302

# Database / Storage (Optional fallbacks)
DATABASE_URL=postgresql://username:password@your-supabase-url:5432/postgres
# MONGO_URI=

# Secure API secret tokens
API_SECRET_TOKEN=In-The-Other-Day-I'm-Wondering
GEMINI_API_KEY=AQ.Ab8RN6J20GoQpcwR7YrID44CMj-NX-2q1YTfcaPe3MmDeUohIg
OPENAI_API_KEY=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
OPENROUTER_API_KEY=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
GROQ_API_KEY=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
NEXT_PUBLIC_API_URL=https://ugtguyjiwrlguwjtctes.supabase.co/functions/v1/myagent-api
GITHUB_REDIRECT_URI=http://localhost:8000/auth/github/callback